body {
  background-color: #87CEEB; /* Light sky blue */
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
        }
header {
  padding: 80px;
  text-align: center;
  background-color: #6495ED;
  color: blue;
}
header h1 {
  font-size: 40px;
}
navbar {
   overflow: hidden;
   background-color: #b2beb5;
}
navbar a {
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 20px;
   text-decoration: none;
}
navbar a.right {
   float: right;
}
navbar a:hover {
   background-color: #ddd;
   color: black;
}
