<link rel="stylesheet" href="style.css" />
header {
  padding: 80px;
  text-align: center;
  background: #1abc8c;
  color: blue;
}
header h1 {
  font-size: 40px;
}
navbar {
   overflow: hidden;
   background-color: #333;
}
navbar a {
   float: left;
   display: block;
   color: white;
   text-align: center;
   padding: 14px 20px;
   text-decoration: none;
}
navbar a.right {
   float: right;
}
navbar a:hover {
   background-color: #ddd;
   color: black;
}
