<link rel="stylesheet" href="styles.css" />
<nav class="navbar">
  <ul class="nav-links>
      <li><a href="#">releases</a></li>
      <li><a href="#">shows</a></li>
      <li><a href="#">video</a></li>
      <li><a href="#">contact</a></li>
  </ul>
</nav>

